<div class="container hero-unit">
  <pre>
    &lt;flash width="270" height="60" src="files/Inter-banner.swf"&gt;&lt;/flash&gt;
    &lt;flash width="270" height="60" src="files/AMD-banner.swf"&gt;&lt;/flash&gt;
    &lt;flash width="270" height="60" src="files/MSI-banner.swf"&gt;&lt;/flash&gt; </pre>

  <flash width="270" height="60" src="files/Inter-banner.swf"></flash>
  <flash width="270" height="60" src="files/AMD-banner.swf"></flash>
  <flash width="270" height="60" src="files/MSI-banner.swf"></flash>
</div>